.weather{
    padding: 0 25px;
    .item{
        margin-bottom: 50px;
        color: #ffffff;
        display: block;
        font-size: 14px;
        b{
            text-transform: uppercase;
        }
        &:last-of-type{
            margin-bottom: 0;
        }
    }
}
